.h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 81px;
  text-align: center;
  text-transform: uppercase;
}

.h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
}

.h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.wrapper {
  max-width: 1920px;
  display: flex;
  width: 85%;
  margin: 0px auto;
}

.header::before {
  opacity: 0;
}

.line {
  border-bottom: 0.5px solid #FFFFFF;
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 58px;
}

.card5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.card5 .sectionbackground5 {
  width: 482px;
  height: 285px;
  position: relative;
}
.card5 .h3 {
  color: black;
  font-weight: 700;
  padding: 32px 0px 16px 0px;
}
.card5 .p {
  color: black;
}
.card5 .btn {
  background: #FFBC13;
  color: white;
  padding: 13px 41px;
  border-radius: 8px;
  margin-top: 24px;
}

.sectioncard3 {
  display: flex;
  position: relative;
  height: 469px;
  width: 469px;
}
.sectioncard3 .content {
  position: absolute;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  height: 100%;
  flex-direction: column;
  justify-content: end;
  width: 100%;
}
.sectioncard3 .content .h3 {
  color: white;
  margin-left: 32px;
  font-weight: 500;
}
.sectioncard3 .content .h4 {
  color: white;
  margin-left: 32px;
  font-weight: 600;
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}
.sectioncard3 .content .liness {
  height: 16px;
  width: 100%;
  background-color: #FFBC13;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
}
.header .wrapper {
  display: flex;
  flex-direction: column;
}
.header .upperheader {
  display: flex;
  justify-content: flex-end;
  gap: 26px;
  padding: 15px 0px;
}
.header .upperheader .box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .upperheader .box .figure {
  width: 20px;
  height: 20px;
  position: relative;
}
.header .upperheader .box .p {
  color: white;
}
.header .bottomheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
}
.header .bottomheader .logo {
  width: 251px;
  position: relative;
  height: 38px;
}
.header .bottomheader .nav {
  display: flex;
  align-items: center;
  gap: 96px;
}
.header .bottomheader .nav .figure {
  position: relative;
  width: 19px;
  height: 19px;
}
.header .bottomheader .nav ul {
  display: flex;
  gap: 54px;
  text-decoration: none;
  list-style-type: none;
}
.header .bottomheader .nav ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.banner {
  width: 100%;
  height: 83vh;
  display: flex;
  justify-content: center;
}
.banner .black {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  position: absolute;
}
.banner .figure {
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  position: absolute;
}
.banner .context {
  display: flex;
  flex-direction: column;
  padding: 10% 0px 0px 0px;
}
.banner .context .wrapper {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}
.banner .context .h1 {
  width: 96%;
  margin: 0px 0px 100px 0px;
  color: #FFFFFF;
}
.banner .context .h1 span {
  color: #FFBC13;
}
.banner .context .drop {
  width: 32px;
  position: relative;
  height: 32px;
}
.banner .context .row {
  margin: 100px 0px 0px 0px;
  display: flex;
  justify-content: center;
  gap: 55px;
}
.banner .context .readbox {
  display: flex;
  width: 470px;
  height: 155px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  gap: 24px;
}
.banner .context .readbox .figures {
  width: 64px;
  height: 70px;
  position: relative;
}
.banner .context .readbox .readmore {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.banner .context .readbox .readmore .h2 {
  color: #FFFFFF;
}
.banner .context .readbox .readmore .p {
  color: #FFBC13;
  display: flex;
}

.section2 {
  display: flex;
  flex-direction: column;
}
.section2 .usec {
  width: 100%;
  padding: 38px 0px;
  background-color: #FFBC13;
}
.section2 .usec .wrapper {
  justify-content: space-between;
  align-items: center;
}
.section2 .usec .lp {
  font-family: "Poppins";
  font-style: normal;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.section2 .usec .quote {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 45px;
  color: black;
  background-color: #FFFFFF;
}
.section2 .lsec {
  background-color: #F8F8F8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 135px 0px 148px 0px;
}
.section2 .lsec .h2 {
  color: black;
}
.section2 .lsec .lines {
  margin: 17px 0px 0px 0px;
  width: 76px;
  height: 3px;
  background-color: #FFBC13;
}
.section2 .lsec .boxcontainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
  gap: 19px;
  justify-content: space-around;
  padding: 72px 0px 0px 0px;
}
.section2 .lsec .boxcontainer .sectionbox {
  margin-bottom: 60px;
  display: flex;
  gap: 19px;
}
.section2 .lsec .boxcontainer .sectionbox .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  border-radius: 90px;
  height: 90px;
  background-color: #FFBC13;
}
.section2 .lsec .boxcontainer .sectionbox .circle .svg {
  width: 50px;
  height: 50px;
  position: relative;
}
.section2 .lsec .boxcontainer .sectionbox .secdescription {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section2 .lsec .boxcontainer .sectionbox .secdescription p {
  width: 382px;
}

.section3 {
  background-image: url("../public/section3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 861px;
  display: flex;
}
.section3 .wrapper {
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding: 137px 0px 138px 0px;
}
.section3 .wrapper .h2 {
  color: white;
}
.section3 .wrapper .lines {
  margin: 17px 0px 0px 0px;
  width: 76px;
  height: 3px;
  background-color: #FFBC13;
}
.section3 .wrapper .carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 60px 0px 0px 0px;
}
.section3 .wrapper .carousel .sectionbackground {
  width: 469px;
  height: 469px;
  position: relative;
}

.carousel {
  max-width: 1920px;
}

.section5 {
  display: flex;
  padding: 80px 0px 103px 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.section5 .wrapper {
  width: calc(100% - 410px);
  justify-content: flex-start;
  flex-direction: column;
}
.section5 .wrapper .lines {
  margin: 0px 0px 64px 0px;
  width: 76px;
  height: 3px;
  background-color: #FFBC13;
}
.section5 .wrapper .h2 {
  color: black;
  padding: 80px 0px 17px 0px;
  font-weight: 600;
}
.section5 .wrapper .p {
  width: 470px;
}
.section5 .wrapper .btn {
  border: none;
}

.section6 {
  display: flex;
  flex-direction: column;
  background-image: url("../public//section6.png");
  background-repeat: none;
  background-size: cover;
  height: 561px;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.section6 .wrapper {
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.section6 .wrapper .h2 {
  color: white;
}
.section6 .wrapper .h {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  color: #FFFFFF;
}
.section6 .wrapper .palet {
  display: flex;
  gap: 24px;
}
.section6 .wrapper .palet .bbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section6 .wrapper .palet .bbox .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section6 .wrapper .palet .bbox .row .cc {
  color: #FFBC13;
  font-weight: 700;
}
.section6 .wrapper .palet .bbox .row .h2 {
  color: white;
}
.section6 .wrapper .palet .bbox .h2 {
  color: white;
}

.section7 {
  width: 100%;
  padding: 103px 0px 118px 0px;
}
.section7 .wrapper {
  justify-content: space-between;
}
.section7 .wrapper .left {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.section7 .wrapper .left .lines {
  margin: 0px 0px 64px 0px;
  width: 76px;
  height: 3px;
  background-color: #FFBC13;
}
.section7 .wrapper .left .h2 {
  color: black;
  padding: 0px 0px 17px 0px;
  font-weight: 600;
}
.section7 .wrapper .left .boxing {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section7 .wrapper .left .boxing .schema {
  width: 230px;
  height: 166px;
  position: relative;
}
.section7 .wrapper .right {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.section7 .wrapper .right .lines {
  margin: 0px 0px 64px 0px;
  width: 76px;
  height: 3px;
  background-color: #FFBC13;
}
.section7 .wrapper .right .h2 {
  color: black;
  padding: 0px 0px 17px 0px;
  font-weight: 600;
}
.section7 .wrapper .right .testimonial {
  display: flex;
  background-color: #F8F8F8;
  width: 100%;
  height: 236px;
  justify-content: center;
  align-items: center;
}
.section7 .wrapper .right .testimonial .p {
  font-style: italic;
  width: 80%;
}
.section7 .wrapper .right .profile {
  display: flex;
  margin-top: 22px;
  width: 90%;
  align-self: flex-end;
  justify-content: space-between;
}
.section7 .wrapper .right .profile .prof {
  width: 103px;
  height: 103px;
  position: relative;
}
.section7 .wrapper .right .profile .pcontent {
  color: black;
  display: flex;
  align-items: center;
  width: 83%;
  justify-content: space-between;
}
.section7 .wrapper .right .profile .pcontent span {
  font-weight: 400;
}
.section7 .wrapper .right .profile .pcontent .star {
  width: 130px;
  position: relative;
  height: 22px;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer .upperfooter {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  padding: 84px 0px 168px 0px;
  flex-direction: column;
}
.footer .upperfooter .wrapper {
  width: 70% !important;
  justify-content: space-between;
}
.footer .upperfooter .wrapper .foot1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}
.footer .upperfooter .wrapper .foot1 .lines {
  width: 76px;
  background-color: #FFBC13;
  height: 4px;
}
.footer .upperfooter .wrapper .foot1 .p {
  width: 357px;
}
.footer .upperfooter .wrapper .foot2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}
.footer .upperfooter .wrapper .foot2 ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer .upperfooter .wrapper .foot2 ul li {
  display: flex;
  align-items: center;
}
.footer .upperfooter .wrapper .foot2 .lines {
  width: 76px;
  background-color: #FFBC13;
  height: 4px;
}
.footer .upperfooter .wrapper .foot3 {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 12px;
  width: 28%;
}
.footer .upperfooter .wrapper .foot3 .lines {
  width: 76px;
  background-color: #FFBC13;
  height: 4px;
}
.footer .upperfooter .wrapper .foot3 ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.footer .upperfooter .wrapper .foot3 ul .footrow {
  display: flex;
  gap: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .upperfooter .wrapper .foot3 ul .footrow .p {
  width: 272px;
}
.footer .lowerfooter {
  background-color: black;
  color: white;
  padding: 34px 0px;
}
.footer .lowerfooter .wrapper {
  width: 70% !important;
  justify-content: space-between;
  align-items: center;
}
.footer .lowerfooter .wrapper .footbox {
  display: flex;
  gap: 16px;
}/*# sourceMappingURL=Trades.css.map */